{% extends 'base.html' %}

{% block title %}Qeydiyyat{% endblock %}

{% block content %}
    <h2>Ad və Soyad Daxil Et</h2>
    <form action="{{ url_for('submit_registration') }}" method="POST">
        <label for="first_name">Ad:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Soyad:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <input type="submit" value="Qeydiyyat">
    </form>
    <img src="{{ url_for('static', filename='uploads/' + filename) }}" alt="Yüklənmiş Şəkil">
{% endblock %}
