<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qeydiyyat</title>
</head>
<body>
    <h1>Ad və Soyadınızı daxil edin</h1>
    <form action="/submit_registration" method="POST">
        <label for="first_name">Ad:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="last_name">Soyad:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <input type="submit" value="Qeydiyyat">
    </form>
</body>
</html>
